node_modules/
dist/
cdk.out/
*.js
*.d.ts
!jest.config.js
!lib/authorizer/index.js
!lib/frontend-authorizer/index.js
!lib/auth-lambda/**/*.js
!lib/cognito-triggers/**/*.js
!lib/byod-origin-restamp/index.js
*.tsbuildinfo
.DS_Store
cdk.out/
cdk.context.json
